<div class="card unit-details">
    <img src="http://mars.theblueground.net/{{unitDetails.pictures[0]}}"
         class="card-img-top img-fluid"
         alt="unit picture" />

    <div class="card-body">
        <span id="region"
              class="text-uppercase">
            {{unitDetails.region}}
        </span>
        <div class="mb-4">
            <h5 class="card-title">
                {{unitDetails.name}}
            </h5>
            <span id="price"> {{unitDetails.price}} BTC</span>
        </div>

        <span id="rating"
              class="mt-4">
            <i class="fas fa-star"></i>
        </span>

        <p class="card-text mb-4">{{unitDetails.description}}</p>
    
        <div id="cancellation"
             class="float-right">
            <span class="badge badge-danger text-uppercase">Cancellation</span>
            <span>{{unitDetails.cancellation}}</span>
        </div>

        <div id="amenities"
             class="mb-4">
            <h6>Amenities</h6>
            <ul *ngFor="let amenity of unitDetails.amenities"
                class="list-unstyled">
                <li>{{amenity}}</li>
            </ul>
        </div>
        
        <div id="availability">
            <div class="form-check form-check-inline"
                 *ngFor="let year of unitDetails.availability">
                <label for="{{year}}"
                       class="form-check-label">{{year}}</label>
                <input type="radio"
                       [(ngModel)]="selectedYear"
                       [name]="selectedYear"
                       [value]="year"
                       class="form-check-input"
                       id="{{year}}">
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary float-right"
                (click)="onBook(unitDetails.id, selectedYear)"
                [disabled]="selectedYear === null">
            Book
        </button>
    </div>
</div>
