<div class="card">
    
    <span id="close-drawer"
          class="cursor-pointer"
          (click)="onDrawerClose($event)">
        <i class="fas fa-times"></i>
    </span>
    
    <img src="http://mars.theblueground.net/{{unitDetails.pictures[0]}}"
         class="card-img-top img-fluid"
         alt="unit picture" />

    <div class="card-body">
        <span id="region"
              class="text-uppercase">
            {{unitDetails.region}}
        </span>
        <div class="mb-3">
            <h5 class="card-title">
                {{unitDetails.name}}
            </h5>
        </div>
    
        <div class="d-flex justify-content-between align-items-center mb-3 price-rating-wrapper">
            <span id="price"> {{unitDetails.price}} BTC</span>
    
            <span id="rating">
                <span *ngFor="let star of starsRating;">
                    <i class="fas fa-star"
                       [ngClass]="star ? 'filled' : ''">
                    </i>
                </span>
            </span>
        </div>

        <p class="card-text mb-4">{{unitDetails.description}}</p>
    
        <div id="cancellation"
             class="float-right mb-4">
            <span class="badge badge-danger text-uppercase">Cancellation</span>
            <span>{{unitDetails.cancellation}}</span>
        </div>

        <div id="amenities"
             class="mb-4">
            <span class="d-block mb-3">Amenities</span>
            <ul class="list-unstyled row">
                <li *ngFor="let amenity of unitDetails.amenities" class="col-4 mb-2">
                    <i class="fas fa-star text-secondary mr-1"></i>
                    <span>{{amenity}}</span>
                </li>
            </ul>
        </div>
        
        <div id="availability">
            <span class="d-block mb-3">Availability</span>
            <div class="d-flex justify-content-between align-items-center">
                <div class="form-check form-check-inline"
                     *ngFor="let year of unitDetails.availability">
                    <label for="{{year}}"
                           [ngClass]="selectedYear === year ? 'selected': ''"
                           class="form-check-label cursor-pointer">
                        {{year}}
                    </label>
                    <input type="radio"
                           [(ngModel)]="selectedYear"
                           [name]="selectedYear"
                           [value]="year"
                           class="form-check-input"
                           id="{{year}}">
                </div>
            </div>
            
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary float-right"
                (click)="onBook(unitDetails.id, selectedYear)"
                [disabled]="selectedYear === null">
            Book
        </button>
    </div>
</div>
