<div class="card">
    <img src="http://placeimg.com/640/300/arch"
         class="card-img-top"
         alt="image placeholder">
    
    <div class="card-body">
        <h5 class="card-title">Title - Region</h5>
        <p class="card-text">Description: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Cancellation: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <span>Price: $80</span>
    </div>
    
    <div class="card-footer">
        <small class="text-muted">Rating</small>
    </div>
</div>
