<div class="card">
    <img src="http://mars.theblueground.net{{unit.pictures[0]}}"
         class="card-img-top img-fluid"
         alt="image placeholder" />

    <div class="card-body">
        <h5 class="card-title">{{ unit.name }} - {{ unit.region }}</h5>
        <p class="card-text">{{ unit.description }}</p>
        <p class="card-text">{{ unit.cancellation }}</p>

        <span>Price: {{ unit.price }} BTN</span>
    </div>

    <div class="card-footer">
        <small class="text-muted">{{ unit.rating }}</small>
    </div>
</div>
