<div class="card cursor-pointer">
    
    <div class="alert alert-success booked-indicator"
         *ngIf="unit.id === bookedUnit?.unitId">
        <h4 class="alert-heading">You just booked it!</h4>
        <p>Your booking reference:
            <span class="font-italic">{{bookedUnit.reference}}</span>
        </p>
    </div>
    
    <img src="http://mars.theblueground.net{{getPictureBySize('800')}}"
         class="card-img-top img-fluid"
         alt="unit picture" />
    
    <div class="card-body">
        <span id="region"
              class="text-uppercase">
            {{unit.region}}
        </span>
        <h5 class="card-title">{{unit.name}}</h5>
        <p class="card-text text-truncate mb-4">{{unit.description}}</p>
        <div id="cancellation"
             class="float-right">
            <span class="badge badge-danger text-uppercase">Cancellation</span>
            <span>{{unit.cancellation}}</span>
        </div>
    </div>
    
    <div class="card-footer d-flex justify-content-between align-items-center">
        <span id="price">{{unit.price}} BTC</span>
        
        <span id="rating">
            <span *ngFor="let star of starsRating;">
                <i class="fas fa-star"
                   [ngClass]="star ? 'filled' : ''">
                </i>
            </span>
        </span>
    </div>
</div>
