<div class="container"
     id="login-container">
    <div class="row d-flex justify-content-center align-items-stretch login-wrapper">
        <div class="col-sm-12 col-md-10 col-lg-6 align-self-center">
            <h1 class="text-center app-logo">Blueground</h1>
            
            <div class="mt-5 mb-4">
                <h4>Login</h4>
            </div>
    
            <app-login-form [loginForm]="loginForm"
                            (login)="onLogin($event)">
            </app-login-form>
        
        </div>
    </div>
</div>
