.container {
    &#login-container{
        height: 100%;
        
        .login-wrapper {
            min-height: 100%;
            
            .app-logo {
                width: 45%;
                
                .fas {
                    font-size: 5rem;
                    right: -30px;
                    top: -22px;
                }
            }
        }
    }
}
