/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif;
    background-color: #EDF2F4;

    .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}
